* {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 2px green;
}

body {
  margin: 0;
  overflow: scroll;
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #b0b0b0;
}

.nav-herad {
  background-color: black;
  height: 40px;
}

.top {
  font-size: 12px;
  width: 1226px;
  height: 40px;
  line-height: 40px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* background-color: pink; */
}

.left {
  color: #424242;
}

.left>a {
  color: #b0b0b0;
  display: inline-block;
}

.left>a:hover {
  color: white;
}

.sep {
  margin: 0 .3em;
  color: #424242;
}

.right {
  display: flex;
  position: relative;
}

.shopping-car {
  width: 120px;
  xdisplay: inline-block;
  text-align: center;
  margin-left: 20px;
  position: relative;
}

.shopping-car>.icon {
  vertical-align: bottom;
}

.shopping-car:hover+.shopping-list {
  height: 100px;
  width: 320px;
  background-color: white;
  color: #424242;
}

.shopping-list {
  transition: 0.3s;
  overflow: hidden;
  position: absolute;
  width: 320px;
  height: 0;
  right: 0;
  top: 100%;
  box-shadow: 0 0 8px grey;
}

.nav-two {
  height: 100px;
  width: 1226px;
  margin: auto;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 200px;
  line-height: 50px;
}

.logo>img {
  height: 50px;
  width: 50px;
}

.two-top {
  display: flex;
}

.two-top>li {
  font-style: 14px;
  padding: 0 10px;
  height: 100px;
  line-height: 100px;
}

.area {
  background-color: white;
  transition: .5s height, 0s 1s z-index;
  position: absolute;
  overflow: hidden;
  height: 0;
  padding: 0 calc(50% - (1226px / 2));
  display: flex;
  width: 100%;
  left: 0;
}

.two-top:hover>li .area {
  transition: .5s height, 0s 1s z-index;
  z-index: 666;
}

.area>li {
  width: calc(1226px / 6);
}

.two-top:hover .area {
  height: 230px;
  transition: .5s height, 0s 1s z-index;
}

.table {
  margin-left: auto;
  display: flex;
  position: relative;
}

.table:hover>input button {
  border-color: #b0b0b0;
}

input {
  font-size: 16px;
  width: 245px;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-right: none;
  outline: none;
}

input:focus {
  border-color: #ff6700;
}

input:focus+button {
  border-color: #ff6700;
}

button {
  width: 50px;
  height: 50px;
  border: 1px solid #e0e0e0;
  font-size: 2em;
}

button:hover {
  background-color: #ff6700;
  border-color: #ff6700;
  color: white;
  cursor: pointer;
}

button>.icon {
  margin: auto;
}

.book {
  position: absolute;
  display: none;
  left: 0;
  top: 100%;
  border: 1px solid;
}

input:focus~.book {
  display: block;
  background-color: white;
  border-color: #ff6700;
  width: 245px;
}

.flex {
  position: fixed;
  right: 0;
  bottom: 70px;
}

@media (max-width: 1460px) {
  .flex {
    left: 50%;
    margin-left: calc(1126px / 2);
    right: auto;
  }
}

.flex ul>li {
  height: 90px;
}

@media (max-width: 1460px) {
  .icon-text {
    display: none;
  }
}

.flex .icon {
  display: block;
  font-size: 3em;
}

@media (max-width: 1460px) {
  .flex>.icon {
    font-size: 1em;
  }
}

.four-top {
  height: 460px;
  width: 1226px;
  margin: auto;
  position: relative;
}

.four-top .thing {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  box-sizing: border-box;
  width: 235px;
  padding: 20px 0;
}

.thing>li {
  height: 42px;
  color: white;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 20px;
}

.thing>li::after {
  content: '\E623';
  font-family: photo;
  float: right;
  font-size: 1.5em;
}

.thing:hover .make {
  display: block;
  z-index: 9;
}

.make {
  display: none;
  position: absolute;
  height: 460px;
  width: 248px;
  left: 100%;
  top: 0;
}

.make>li {
  height: calc(460px / 6);
  width: 248px;
}

.make>li:nth-child(n+7) {
  margin-left: 248px;
}

.make>li:nth-child(n+13) {
  margin-left: 496px;
}

.make>li:nth-child(n+19) {
  margin-left: 744px;
}

.make>li:nth-child(n+25) {
  margin-left: 992px;
}

.make>li:nth-child(6n+7) {
  margin-top: -460px;
}

.slider {
  width: 991px;
  height: 460px;
  margin-left: 235px;
  position: relative;
}

.lt {
  position: absolute;
  top: 210px;
  bottom: 210px;
  left: 0;
  font-size: 3em;
  z-index: 10;
  color: #c6b7af;
}

.rt {
  position: absolute;
  top: 210px;
  bottom: 210px;
  right: 0;
  font-size: 3em;
  z-index: 10;
  color: #c6b7af;
}

input {
  position: relative;
  display: none;
}

input:nth-child(1):checked~.imgs img:nth-child(1),
input:nth-child(2):checked~.imgs img:nth-child(2),
input:nth-child(3):checked~.imgs img:nth-child(3),
input:nth-child(4):checked~.imgs img:nth-child(4),
input:nth-child(5):checked~.imgs img:nth-child(5) {
  opacity: 1;
}


input:nth-child(1):checked~.sid label:nth-child(1),
input:nth-child(2):checked~.sid label:nth-child(2),
input:nth-child(3):checked~.sid label:nth-child(3),
input:nth-child(4):checked~.sid label:nth-child(4),
input:nth-child(5):checked~.sid label:nth-child(5) {
  background-color: black;
}

.sid {
  position: absolute;
  bottom: 10px;
  right: 28px;
  z-index: 8;
}

.sid label {
  display: inline-block;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  padding: 3px;
  background-color: grey;
  cursor: pointer;
}

.imgs {
  position: relative;
  width: 991px;
  height: 460px;
}

.imgs img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: 1s;
}

.sid label:hover {
  background-color: black;
}

.block {
  width: 1226px;
  height: 170px;
  position: relative;
  margin: auto;
  margin-top: 10px;
}

.four {
  list-style: none;
  position: absolute;
  left: 0;
  width: 230px;
}

.four>li {
  display: inline-block;
  height: 84px;
  width: 74px;
  box-sizing: border-box;
}

.four  .icon {
  display: block;
  font-size: 3em;
  margin: auto;
}

.four a > img {
  display: inline-block;
  width: 315px;
  height: 170px;
  margin-left: 15px;
}
 